In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_pg = pd.read_excel('./label ingredients.xlsx', sheet_name= 'W24 total')
raw_df = raw_pg.drop_duplicates()[['index', 'recipe_name', 'sku_code', 'qty_2ppl', 'qty_4ppl', 'week']]

In [3]:
raw_df

,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week
0,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00327-4,1,0,2020-W24
5,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00384-4,1,0,2020-W24
10,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00719-4,1,0,2020-W24
15,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00724-4,1,0,2020-W24
20,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-01209-4,1,0,2020-W24
...,...,...,...,...,...,...
1360,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-10-01208-4,0,1,2020-W24
1365,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-10-01316-1,0,1,2020-W24
1370,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-11-02084-1,0,1,2020-W24
1375,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PHF-00-25707-4,0,1,2020-W24
1380,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PHF-10-25778-4,0,1,2020-W24

In [4]:
def coutP(c_p2, c_p4):
    if c_p2 != 0:
        return "2P"
    elif c_p4 != 0:
        return "4P"
    else:
        return np.nan

raw_df['Person'] = raw_df.apply(lambda x : coutP(x.qty_2ppl, x.qty_4ppl) , axis = 1)

In [5]:
raw_df = raw_df.dropna().reset_index()

In [6]:
index_lookup = pd.read_excel('./label ingredients.xlsx', sheet_name= 'index')
index_lookup

    index Recipe
0       1      A
1       2      B
2       3      C
3       4      D
4       5      E
5       6      F
6       7      G
7       8      H
8       9      I
9      10      J
10     11      K
11     12      L
12     13      M
13     14      N
14     15      O
15     16      P
16     17      Q
17     18      R
18     19      S
19     20      T

In [7]:
raw_df = raw_df.merge(index_lookup, how = 'left',left_on='index', right_on='index')
raw_df

,level_0,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week,Person,Recipe
0,0,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00327-4,1,0,2020-W24,2P,A
1,5,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00384-4,1,0,2020-W24,2P,A
2,10,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00719-4,1,0,2020-W24,2P,A
3,15,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00724-4,1,0,2020-W24,2P,A
4,20,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-01209-4,1,0,2020-W24,2P,A
...,...,...,...,...,...,...,...,...,...
249,1360,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-10-01208-4,0,1,2020-W24,4P,T
250,1365,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-10-01316-1,0,1,2020-W24,4P,T
251,1370,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-11-02084-1,0,1,2020-W24,4P,T
252,1375,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PHF-00-25707-4,0,1,2020-W24,4P,T
253,1380,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PHF-10-25778-4,0,1,2020-W24,4P,T

In [8]:
raw_df['Recipe Code'] = raw_df['week'].str[-2:] + raw_df['Recipe'] + raw_df['Person'].str[:1]
raw_df

,level_0,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week,Person,Recipe,Recipe Code
0,0,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00327-4,1,0,2020-W24,2P,A,24A2
1,5,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00384-4,1,0,2020-W24,2P,A,24A2
2,10,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00719-4,1,0,2020-W24,2P,A,24A2
3,15,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-00724-4,1,0,2020-W24,2P,A,24A2
4,20,1,Jerk Chicken & Roasted Veggies with Corn Salsa...,PHF-10-01209-4,1,0,2020-W24,2P,A,24A2
...,...,...,...,...,...,...,...,...,...,...
249,1360,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-10-01208-4,0,1,2020-W24,4P,T,24T4
250,1365,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-10-01316-1,0,1,2020-W24,4P,T,24T4
251,1370,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PRO-11-02084-1,0,1,2020-W24,4P,T,24T4
252,1375,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PHF-00-25707-4,0,1,2020-W24,4P,T,24T4
253,1380,20,NZ Cheat's Italian Lamb Ragu with Mash & Green...,PHF-10-25778-4,0,1,2020-W24,4P,T,24T4

In [9]:
staged_df = raw_df[['Recipe Code','sku_code', 'qty_2ppl', 'qty_4ppl']]
staged_df.head()

  Recipe Code        sku_code  qty_2ppl  qty_4ppl
0        24A2  PHF-10-00327-4         1         0
1        24A2  PHF-10-00384-4         1         0
2        24A2  PHF-10-00719-4         1         0
3        24A2  PHF-10-00724-4         1         0
4        24A2  PHF-10-01209-4         1         0

In [10]:
difficulty_lookup = pd.read_excel('./label ingredients.xlsx', sheet_name= 'difficultyLookup')
difficulty_lookup

           sku_code Difficulty
0    PHF-10-00384-4          M
1    PHF-10-00483-1         VH
2    PHF-10-00581-1         VE
3    PHF-10-00707-4          E
4    PHF-10-01167-1          H
..              ...        ...
173  BAK-10-00457-7         VH
174  DRY-00-00357-1          M
175  PRO-00-01242-1         VE
176  SPI-00-01335-1         VE
177  PHF-10-25778-4          H

[178 rows x 2 columns]

In [11]:
staged_df = staged_df.merge(difficulty_lookup, how = 'left',left_on='sku_code', right_on='sku_code')
staged_df

    Recipe Code        sku_code  qty_2ppl  qty_4ppl Difficulty
0          24A2  PHF-10-00327-4         1         0         VH
1          24A2  PHF-10-00384-4         1         0          M
2          24A2  PHF-10-00719-4         1         0          E
3          24A2  PHF-10-00724-4         1         0          M
4          24A2  PHF-10-01209-4         1         0          E
..          ...             ...       ...       ...        ...
249        24T4  PRO-10-01208-4         0         1          E
250        24T4  PRO-10-01316-1         0         1          H
251        24T4  PRO-11-02084-1         0         1         VE
252        24T4  PHF-00-25707-4         0         1          M
253        24T4  PHF-10-25778-4         0         1          H

[254 rows x 5 columns]

In [12]:
staged_df['sku_code'][staged_df['Difficulty'].isna()]
# the new SKUs

Series([], Name: sku_code, dtype: object)

In [13]:
prepared_pg_4P = staged_df.pivot_table(values = 'qty_4ppl', index = 'Recipe Code', columns = 'Difficulty', aggfunc=np.sum, fill_value = 0)
prepared_pg_2P = staged_df.pivot_table(values = 'qty_2ppl', index = 'Recipe Code', columns = 'Difficulty', aggfunc=np.sum, fill_value = 0)
prepared_2P = prepared_pg_2P[prepared_pg_2P.sum(axis=1) > 0]
prepared_4P = prepared_pg_4P[prepared_pg_4P.sum(axis=1) > 0]

In [14]:
prepared_4P

Difficulty   E  H  M  VE  VH
Recipe Code
24A4         4  1  3   3   4
24B4         2  3  0   2   4
24C4         1  4  1   4   4
24D4         0  2  3   2   0
24E4         0  6  2   4   0
24F4         1  0  6   5   1
24G4         3  5  4   6   2
24H4         0  1  2   9   3
24I4         3  3  0   2   1
24J4         0  4  7   6   1
24K4         6  0  1   5   0
24L4         1  2  3   3   1
24M4         3  0  4   4   0
24N4         4  1  2   2   0
24O4         2  0  2   5   2
24P4         1  0  2   3   0
24Q4         2  0  4   7   1
24R4         4  1  3   2   0
24S4         3  0  0   3   2
24T4         2  6  3   2   0

In [15]:
mk_crate_raw = pd.read_csv('./label_recipes.csv')
mk_crate_raw['Recipe Code'] = mk_crate_raw['Week'].str[-2:] + mk_crate_raw['Recipe']
mk_crate_prepared = mk_crate_raw[['Recipe Code', 'Meal Kits/Crate']]
# join recipe details with 'MKs/Crate'
prepared_4P = prepared_4P.join(mk_crate_prepared.set_index('Recipe Code')) # default lef join
prepared_2P = prepared_2P.join(mk_crate_prepared.set_index('Recipe Code'))

In [22]:
recipe_details = pd.concat([prepared_2P, prepared_4P])
recipe_details

             E  H  M  VE  VH  Meal Kits/Crate
Recipe Code
24A2         3  0  3   2   2                5
24B2         1  1  2   1   2                7
24C2         2  2  0   2   2                6
24D2         1  1  1   2   0                5
24E2         0  3  1   3   0                5
24F2         1  1  3   3   0                5
24G2         2  3  3   4   1                4
24H2         0  0  2   6   2                6
24I2         2  0  3   1   1                5
24J2         0  3  4   4   0                4
24O2         2  0  1   3   1                6
24P2         1  0  1   2   0               10
24Q2         1  0  2   4   1                4
24A4         4  1  3   3   4                4
24B4         2  3  0   2   4                5
24C4         1  4  1   4   4                4
24D4         0  2  3   2   0                4
24E4         0  6  2   4   0                4
24F4         1  0  6   5   1                4
24G4         3  5  4   6   2                3
24H4         0  1  2   9   3                5
24I4         3  3  0   2   1                4
24J4         0  4  7   6   1                3
24K4         6  0  1   5   0                6
24L4         1  2  3   3   1                4
24M4         3  0  4   4   0                6
24N4         4  1  2   2   0                6
24O4         2  0  2   5   2                5
24P4         1  0  2   3   0                6
24Q4         2  0  4   7   1                3
24R4         4  1  3   2   0                6
24S4         3  0  0   3   2                6
24T4         2  6  3   2   0                4

In [18]:
# pliminary filtering Kitting Line Scanning System data (Week 17 - Week 23)
klss_raw = pd.read_csv('./Kitting_raw_W24.csv')
klss_raw.shape

(6911, 14)

In [19]:
Conditions = (
(klss_raw['Activity'] == 'Production') & 
(klss_raw['Seq Code'].notnull()) &
((klss_raw['Time Consumption'] > 2) & (klss_raw['Time Consumption'] < 10))
)
klss_raw_row_filitered = klss_raw[Conditions].reset_index()
klss_raw_row_filitered.shape

(4422, 15)

In [20]:
klss_staged = klss_raw_row_filitered[['Recipe Name', 'Week', 'Pickers Count', 'Time Consumption']]
klss_staged

     Recipe Name     Week  Pickers Count  Time Consumption
0             D4  2020-24              2              4.53
1             D4  2020-24              2              4.17
2             D4  2020-24              2              7.33
3             D4  2020-24              2              4.17
4             D4  2020-24              2              4.28
...          ...      ...            ...               ...
4417          B2  2020-24              3              6.10
4418          B2  2020-24              3              6.10
4419          B2  2020-24              3              5.47
4420          B2  2020-24              3              4.73
4421          B2  2020-24              3              4.23

[4422 rows x 4 columns]

In [21]:
klss_staged['Recipe Code'] = klss_staged['Week'].str[-2:] + klss_staged['Recipe Name']
klss_staged['P'] = klss_staged['Recipe Name'].str[-1] + "P"
klss_staged

     Recipe Name     Week  Pickers Count  Time Consumption Recipe Code   P
0             D4  2020-24              2              4.53        24D4  4P
1             D4  2020-24              2              4.17        24D4  4P
2             D4  2020-24              2              7.33        24D4  4P
3             D4  2020-24              2              4.17        24D4  4P
4             D4  2020-24              2              4.28        24D4  4P
...          ...      ...            ...               ...         ...  ..
4417          B2  2020-24              3              6.10        24B2  2P
4418          B2  2020-24              3              6.10        24B2  2P
4419          B2  2020-24              3              5.47        24B2  2P
4420          B2  2020-24              3              4.73        24B2  2P
4421          B2  2020-24              3              4.23        24B2  2P

[4422 rows x 6 columns]

In [23]:
valid_all = klss_staged.merge(recipe_details, how = 'left', left_on = 'Recipe Code', right_on = 'Recipe Code')
valid_all

,Recipe Name,Week,Pickers Count,Time Consumption,Recipe Code,P,E,H,M,VE,VH,Meal Kits/Crate
0,D4,2020-24,2,4.53,24D4,4P,0,2,3,2,0,4
1,D4,2020-24,2,4.17,24D4,4P,0,2,3,2,0,4
2,D4,2020-24,2,7.33,24D4,4P,0,2,3,2,0,4
3,D4,2020-24,2,4.17,24D4,4P,0,2,3,2,0,4
4,D4,2020-24,2,4.28,24D4,4P,0,2,3,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...
4417,B2,2020-24,3,6.10,24B2,2P,1,1,2,1,2,7
4418,B2,2020-24,3,6.10,24B2,2P,1,1,2,1,2,7
4419,B2,2020-24,3,5.47,24B2,2P,1,1,2,1,2,7
4420,B2,2020-24,3,4.73,24B2,2P,1,1,2,1,2,7
4421,B2,2020-24,3,4.23,24B2,2P,1,1,2,1,2,7

In [25]:
valid_prepared = valid_all[['Recipe Code', 'Pickers Count', 'Time Consumption', 'P', 'VE', 'E', 'M', 'H', 'VH', 'Meal Kits/Crate']]

In [27]:
valid_prepared.to_csv('valid_all.csv', index = False)