In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_pg = pd.read_excel('./label ingredients.xlsx', sheet_name= 'W17-W23 total')
raw_df = raw_pg.drop_duplicates()[['index', 'recipe_name', 'sku_code', 'qty_2ppl', 'qty_4ppl', 'week']]

In [3]:
raw_df.head()

,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week
0,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00384-4,1,0,2020-W17
5,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00483-1,1,0,2020-W17
10,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00581-1,0,0,2020-W17
15,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00707-4,1,0,2020-W17
20,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01167-1,2,0,2020-W17

In [4]:
def coutP(c_p2, c_p4):
    if c_p2 != 0:
        return "2P"
    elif c_p4 != 0:
        return "4P"
    else:
        return np.nan

raw_df['Person'] = raw_df.apply(lambda x : coutP(x.qty_2ppl, x.qty_4ppl) , axis = 1)

In [5]:
raw_df = raw_df.dropna().reset_index()

In [6]:
index_lookup = pd.read_excel('./label ingredients.xlsx', sheet_name= 'index')
index_lookup

    index Recipe
0       1      A
1       2      B
2       3      C
3       4      D
4       5      E
5       6      F
6       7      G
7       8      H
8       9      I
9      10      J
10     11      K
11     12      L
12     13      M
13     14      N
14     15      O
15     16      P
16     17      Q
17     18      R
18     19      S
19     20      T

In [7]:
# raw_df.join(index_lookup, on = 'index', how = 'left', rsuffix = '_right', sort = False)
raw_df = raw_df.merge(index_lookup, how = 'left',left_on='index', right_on='index')

In [8]:
raw_df

,level_0,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week,Person,Recipe
0,0,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00384-4,1,0,2020-W17,2P,A
1,5,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00483-1,1,0,2020-W17,2P,A
2,15,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00707-4,1,0,2020-W17,2P,A
3,20,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01167-1,2,0,2020-W17,2P,A
4,25,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01209-4,1,0,2020-W17,2P,A
...,...,...,...,...,...,...,...,...,...
1658,8792,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-00281-4,0,1,2020-W23,4P,T
1659,8802,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01209-4,0,2,2020-W23,4P,T
1660,8807,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01984-4,0,1,2020-W23,4P,T
1661,8812,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PRO-10-00885-1,0,1,2020-W23,4P,T
1662,8817,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,SPI-00-00382-1,0,2,2020-W23,4P,T

In [9]:
raw_df['Recipe Code'] = raw_df['week'].str[-2:] + raw_df['Recipe'] + raw_df['Person'].str[:1]
raw_df

,level_0,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week,Person,Recipe,Recipe Code
0,0,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00384-4,1,0,2020-W17,2P,A,17A2
1,5,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00483-1,1,0,2020-W17,2P,A,17A2
2,15,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00707-4,1,0,2020-W17,2P,A,17A2
3,20,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01167-1,2,0,2020-W17,2P,A,17A2
4,25,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01209-4,1,0,2020-W17,2P,A,17A2
...,...,...,...,...,...,...,...,...,...,...
1658,8792,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-00281-4,0,1,2020-W23,4P,T,23T4
1659,8802,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01209-4,0,2,2020-W23,4P,T,23T4
1660,8807,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01984-4,0,1,2020-W23,4P,T,23T4
1661,8812,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PRO-10-00885-1,0,1,2020-W23,4P,T,23T4
1662,8817,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,SPI-00-00382-1,0,2,2020-W23,4P,T,23T4

In [10]:
#staged dataframe -- "Myre_Import" trimed version, ready to join with the "SKU difficulty lookup"
staged_df = raw_df[['Recipe Code','sku_code', 'qty_2ppl', 'qty_4ppl']]
staged_df.head()

  Recipe Code        sku_code  qty_2ppl  qty_4ppl
0        17A2  PHF-10-00384-4         1         0
1        17A2  PHF-10-00483-1         1         0
2        17A2  PHF-10-00707-4         1         0
3        17A2  PHF-10-01167-1         2         0
4        17A2  PHF-10-01209-4         1         0

In [11]:
staged_df['Recipe Code'].nunique() # Bingo

207

In [12]:
difficulty_lookup = pd.read_excel('./label ingredients.xlsx', sheet_name= 'difficultyLookup')
difficulty_lookup

           sku_code Difficulty
0    PHF-10-00384-4          M
1    PHF-10-00483-1         VH
2    PHF-10-00581-1         VE
3    PHF-10-00707-4          E
4    PHF-10-01167-1          H
..              ...        ...
166  SPI-00-01027-1         VE
167  PHF-10-01883-4          E
168  PRO-10-25275-1          H
169  SPI-00-00640-1         VE
170  DRY-00-00524-1         VE

[171 rows x 2 columns]

In [13]:
staged_df = staged_df.merge(difficulty_lookup, how = 'left',left_on='sku_code', right_on='sku_code')
staged_df

     Recipe Code        sku_code  qty_2ppl  qty_4ppl Difficulty
0           17A2  PHF-10-00384-4         1         0          M
1           17A2  PHF-10-00483-1         1         0         VH
2           17A2  PHF-10-00707-4         1         0          E
3           17A2  PHF-10-01167-1         2         0          H
4           17A2  PHF-10-01209-4         1         0          E
...          ...             ...       ...       ...        ...
1658        23T4  PHF-10-00281-4         0         1          M
1659        23T4  PHF-10-01209-4         0         2          E
1660        23T4  PHF-10-01984-4         0         1         VE
1661        23T4  PRO-10-00885-1         0         1          M
1662        23T4  SPI-00-00382-1         0         2         VE

[1663 rows x 5 columns]

In [14]:
df_testgp = staged_df.groupby('Recipe Code').get_group('20A4')
df_testgp

    Recipe Code        sku_code  qty_2ppl  qty_4ppl Difficulty
730        20A4  PHF-10-00280-4         0         1          E
731        20A4  PHF-10-00707-4         0         1          E
732        20A4  PHF-10-00999-4         0         2          M
733        20A4  PHF-10-01283-4         0         1         VE
734        20A4  PHF-11-02083-1         0         2         VH
735        20A4  SPI-00-01188-1         0         2         VE
736        20A4  PRO-11-23485-1         0         1          H
737        20A4  PHF-00-25710-4         0         1          H

In [15]:
prepared_pg_4P = staged_df.pivot_table(values = 'qty_4ppl', index = 'Recipe Code', columns = 'Difficulty', aggfunc=np.sum, fill_value = 0)
prepared_pg_2P = staged_df.pivot_table(values = 'qty_2ppl', index = 'Recipe Code', columns = 'Difficulty', aggfunc=np.sum, fill_value = 0)

In [16]:
#2P & 4P recipes got transformed and prepared seperately (Peiran's ingredients difficulity evaluation)
prepared_2P = prepared_pg_2P[prepared_pg_2P.sum(axis=1) > 0]
prepared_4P = prepared_pg_4P[prepared_pg_4P.sum(axis=1) > 0]

In [17]:
# prepared_2P.describe()
prepared_4P.describe()

Difficulty           E           H           M          VE          VH
count       128.000000  128.000000  128.000000  128.000000  128.000000
mean          2.429688    2.304688    2.875000    3.546875    1.187500
std           1.782167    2.060344    1.827179    1.877590    1.545886
min           0.000000    0.000000    0.000000    0.000000    0.000000
25%           1.000000    1.000000    2.000000    2.000000    0.000000
50%           2.000000    2.000000    3.000000    3.000000    0.500000
75%           3.000000    4.000000    4.000000    4.000000    2.000000
max           8.000000    9.000000    8.000000   11.000000    7.000000

In [18]:
prepared_4P

Difficulty   E  H  M  VE  VH
Recipe Code
17A4         3  0  2   3   4
17B4         3  2  0   4   0
17C4         0  4  3   2   0
17D4         3  0  7   4   0
17E4         3  0  3   4   2
...         .. .. ..  ..  ..
23P4         2  4  3   3   2
23Q4         2  1  2   4   0
23R4         2  4  2   0   0
23S4         4  4  1   4   0
23T4         2  0  4   3   0

[128 rows x 5 columns]

In [19]:
mk_crate_raw = pd.read_csv('./label_recipes.csv')
mk_crate_raw['Recipe Code'] = mk_crate_raw['Week'].str[-2:] + mk_crate_raw['Recipe']

In [20]:
# Mealkits per crate data associate with "Recipe Code"
mk_crate_prepared = mk_crate_raw[['Recipe Code', 'Meal Kits/Crate']]

In [21]:
# join recipe details with 'MKs/Crate'
prepared_4P = prepared_4P.join(mk_crate_prepared.set_index('Recipe Code')) # default lef join
prepared_2P = prepared_2P.join(mk_crate_prepared.set_index('Recipe Code'))

In [22]:
print(prepared_2P.head())
print(prepared_4P.head())

E  H  M  VE  VH  Meal Kits/Crate
Recipe Code
17A2         2  2  1   2   1                5
17B2         2  0  2   2   0                6
17C2         1  2  1   2   0                6
17D2         3  0  3   2   0                5
17E2         3  0  1   3   1                6
             E  H  M  VE  VH  Meal Kits/Crate
Recipe Code
17A4         3  0  2   3   4                4
17B4         3  2  0   4   0                4
17C4         0  4  3   2   0                5
17D4         3  0  7   4   0                4
17E4         3  0  3   4   2                5

In [33]:
# Export prepared recipe pack-guide in csv format

pd.concat([prepared_2P, prepared_4P]).to_csv('./prepared_packguide.csv', index = True)

In [23]:
# pliminary filtering scanny data (Week 17 - Week 23)
scanny_raw = pd.read_csv('./ScannyData_W17-W23.csv')
scanny_raw.shape

(60974, 14)

In [24]:
# row filitering: 1."Production"; 2. Completing a dolly; 3.  2 < "Time Consumption" < 10 
Conditions = (
(scanny_raw['Activity'] == 'Production') & 
(scanny_raw['Seq Code'].notnull()) &
((scanny_raw['Time Consumption'] > 2) & (scanny_raw['Time Consumption'] < 10))
)
scanny_raw_row_filitered = scanny_raw[Conditions].reset_index()
scanny_raw_row_filitered.shape

(36475, 15)

In [25]:
#column filitering
scanny_staged = scanny_raw_row_filitered[['Recipe Name', 'Week', 'Pickers Count', 'Time Consumption']]
scanny_staged

      Recipe Name     Week  Pickers Count  Time Consumption
0              C4  2020-17            2.0              8.00
1              C4  2020-17            2.0              5.00
2              C4  2020-17            2.0              7.00
3              C4  2020-17            2.0              5.00
4              C4  2020-17            2.0              8.00
...           ...      ...            ...               ...
36470          M4  2020-23            2.0              4.55
36471          M4  2020-23            2.0              3.48
36472          M4  2020-23            2.0              3.43
36473          M4  2020-23            2.0              2.55
36474          M4  2020-23            2.0              2.70

[36475 rows x 4 columns]

In [26]:
scanny_staged['Recipe Code'] = scanny_staged['Week'].str[-2:] + scanny_staged['Recipe Name']
scanny_staged['P'] = scanny_staged['Recipe Name'].str[-1] + "P"
scanny_staged

      Recipe Name     Week  Pickers Count  Time Consumption Recipe Code   P
0              C4  2020-17            2.0              8.00        17C4  4P
1              C4  2020-17            2.0              5.00        17C4  4P
2              C4  2020-17            2.0              7.00        17C4  4P
3              C4  2020-17            2.0              5.00        17C4  4P
4              C4  2020-17            2.0              8.00        17C4  4P
...           ...      ...            ...               ...         ...  ..
36470          M4  2020-23            2.0              4.55        23M4  4P
36471          M4  2020-23            2.0              3.48        23M4  4P
36472          M4  2020-23            2.0              3.43        23M4  4P
36473          M4  2020-23            2.0              2.55        23M4  4P
36474          M4  2020-23            2.0              2.70        23M4  4P

[36475 rows x 6 columns]

In [27]:
scanny_prepared = scanny_staged[['Recipe Code', 'Pickers Count', 'Time Consumption', 'P']]

In [28]:
# Scanny data prepared
scanny_prepared.groupby('P').apply(print)

Recipe Code  Pickers Count  Time Consumption   P
525          17D2            3.0              6.00  2P
526          17D2            3.0              6.00  2P
527          17D2            3.0              5.00  2P
528          17D2            3.0              4.00  2P
529          17D2            3.0              5.00  2P
...           ...            ...               ...  ..
36187        23P2            3.0              4.48  2P
36188        23P2            3.0              5.42  2P
36189        23P2            3.0              4.83  2P
36190        23P2            3.0              5.33  2P
36191        23P2            3.0              4.60  2P

[14915 rows x 4 columns]
      Recipe Code  Pickers Count  Time Consumption   P
0            17C4            2.0              8.00  4P
1            17C4            2.0              5.00  4P
2            17C4            2.0              7.00  4P
3            17C4            2.0              5.00  4P
4            17C4            2.0              8.00  4P
...           ...            ...               ...  ..
36470        23M4            2.0              4.55  4P
36471        23M4            2.0              3.48  4P
36472        23M4            2.0              3.43  4P
36473        23M4            2.0              2.55  4P
36474        23M4            2.0              2.70  4P

[21559 rows x 4 columns]
       Recipe Code  Pickers Count  Time Consumption   P
17999  20Break End            3.0              4.53  dP

Empty DataFrame
Columns: []
Index: []

In [34]:
# Export prepared scanning system data to csv
scanny_prepared.to_csv('./scanny_prepared.csv', index = False)