In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_pg = pd.read_excel('./label ingredients.xlsx', sheet_name= 'W17-W23 total')
raw_df = raw_pg.drop_duplicates()[['index', 'recipe_name', 'sku_code', 'qty_2ppl', 'qty_4ppl', 'week']]

In [3]:
raw_df.head()

,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week
0,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00384-4,1,0,2020-W17
5,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00483-1,1,0,2020-W17
10,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00581-1,0,0,2020-W17
15,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00707-4,1,0,2020-W17
20,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01167-1,2,0,2020-W17

In [4]:
def coutP(c_p2, c_p4):
    if c_p2 != 0:
        return "2P"
    elif c_p4 != 0:
        return "4P"
    else:
        return np.nan

raw_df['Person'] = raw_df.apply(lambda x : coutP(x.qty_2ppl, x.qty_4ppl) , axis = 1)

In [5]:
raw_df = raw_df.dropna().reset_index()

In [6]:
index_lookup = pd.read_excel('./label ingredients.xlsx', sheet_name= 'index')
index_lookup

    index Recipe
0       1      A
1       2      B
2       3      C
3       4      D
4       5      E
5       6      F
6       7      G
7       8      H
8       9      I
9      10      J
10     11      K
11     12      L
12     13      M
13     14      N
14     15      O
15     16      P
16     17      Q
17     18      R
18     19      S
19     20      T

In [23]:
# raw_df.join(index_lookup, on = 'index', how = 'left', rsuffix = '_right', sort = False)
raw_df = raw_df.merge(index_lookup, how = 'left',left_on='index', right_on='index')

In [24]:
raw_df

,level_0,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week,Person,Recipe
0,0,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00384-4,1,0,2020-W17,2P,A
1,5,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00483-1,1,0,2020-W17,2P,A
2,15,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00707-4,1,0,2020-W17,2P,A
3,20,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01167-1,2,0,2020-W17,2P,A
4,25,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01209-4,1,0,2020-W17,2P,A
...,...,...,...,...,...,...,...,...,...
1658,8792,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-00281-4,0,1,2020-W23,4P,T
1659,8802,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01209-4,0,2,2020-W23,4P,T
1660,8807,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01984-4,0,1,2020-W23,4P,T
1661,8812,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PRO-10-00885-1,0,1,2020-W23,4P,T
1662,8817,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,SPI-00-00382-1,0,2,2020-W23,4P,T

In [31]:
raw_df['Recipe Code'] = raw_df['week'].str[-2:] + raw_df['Recipe'] + raw_df['Person'].str[:1]
raw_df

,level_0,index,recipe_name,sku_code,qty_2ppl,qty_4ppl,week,Person,Recipe,Recipe Code
0,0,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00384-4,1,0,2020-W17,2P,A,17A2
1,5,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00483-1,1,0,2020-W17,2P,A,17A2
2,15,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-00707-4,1,0,2020-W17,2P,A,17A2
3,20,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01167-1,2,0,2020-W17,2P,A,17A2
4,25,1,Tandoori Chicken Sweet Potato Bowl with Garlic...,PHF-10-01209-4,1,0,2020-W17,2P,A,17A2
...,...,...,...,...,...,...,...,...,...,...
1658,8792,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-00281-4,0,1,2020-W23,4P,T,23T4
1659,8802,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01209-4,0,2,2020-W23,4P,T,23T4
1660,8807,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PHF-10-01984-4,0,1,2020-W23,4P,T,23T4
1661,8812,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,PRO-10-00885-1,0,1,2020-W23,4P,T,23T4
1662,8817,20,NZ Caribbean Jerk Fish with Pineapple Salsa & ...,SPI-00-00382-1,0,2,2020-W23,4P,T,23T4

In [32]:
#staged dataframe -- "Myre_Import" trimed version, ready to join with the "SKU difficulty lookup"
staged_df = raw_df[['Recipe Code','sku_code', 'qty_2ppl', 'qty_4ppl']]
staged_df.head()

  Recipe Code        sku_code  qty_2ppl  qty_4ppl
0        17A2  PHF-10-00384-4         1         0
1        17A2  PHF-10-00483-1         1         0
2        17A2  PHF-10-00707-4         1         0
3        17A2  PHF-10-01167-1         2         0
4        17A2  PHF-10-01209-4         1         0